---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '~/components/BaseHead.astro';
import Footer from '~/components/Footer.astro';
import FormattedDate from '~/components/FormattedDate.astro';
import Navbar from '~/components/Navbar.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html class="dark" lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Navbar />
    <main>
      <article
        class="mt-10 grid grid-cols-[1fr_min(75ch,_calc(100%_-_1.5rem))_1fr] px-3 py-8 [&>*]:col-start-2"
      >
        <header class="mb-8 flex flex-col">
          <!-- <PostDate date={date} time={readingTime} class="mb-6" /> -->
          <div class="flex flex-row justify-between">
            <h1
              class="scroll-m-20 text-4xl font-extrabold leading-tight tracking-tight text-balance lg:text-5xl text-balance"
            >
              {title}
            </h1>
            <!-- <QRCode
							class="hidden print:inline-block max-h-20 max-w-[5rem]"
							value={url.href}
						/> -->
          </div>
          <div class="mt-6 flex space-x-3">
            <!-- {tags.map((tag) => (
							<Badge key={tag} class="text-sm font-extrabold">
								#{tag}
							</Badge>
						))} -->
          </div>
          <!-- <Author class="mt-6" /> -->
          <picture class="relative mt-6 h-fit min-h-[30rem] max-w-full overflow-hidden rounded">
            <!-- <Image src={image} alt="example" fill class="object-cover" /> -->
            <img
              src={heroImage}
              alt={`visual for ${title}`}
              transition:name={`img-${Astro.url.pathname}`}
              class="object-cover w-full h-full"
            />
          </picture>
        </header>
        <slot />
        <footer
          class="relative print:hidden group overflow-hidden my-8 flex h-[75vh] hover:ring-4 transition-all ring-muted rounded-md place-items-center justify-center"
        >
          <small
            aria-hidden
            class="scroll-m-20 transition-all opacity-0 group-hover:opacity-100 group-hover:block text-lg text-foreground/60 font-extrabold text-center leading-tight tracking-tight md:leading-loose lg:text-xl"
          >
            <!-- <Balancer>
							This margin is intentional
							<br />
							for mantaining eye level when reading
						</Balancer> -->
          </small>
          <!-- <Meteors number={20} /> -->
        </footer>
      </article>
    </main>
    <Footer />
  </body>
</html>
