---
import { Image } from 'astro:assets';

import type { CollectionEntry } from 'astro:content';
import { Card, CardContent, CardFooter, CardHeader, CardTitle } from '@portfolio/ui/card';
import { Icon } from 'astro-icon/components';

type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
const { data, id } = post;
const pathname = `/blog/${id}/`;
const image = data.heroImage;
---

<a href={pathname} class="block h-full transition-transform duration-300 hover:scale-105">
  <Card className="h-full flex flex-col bg-muted overflow-hidden group">
    <div class="relative w-full aspect-16/9 overflow-hidden">
      <Image
        class="absolute inset-0 w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
        src={image}
        alt={data.title}
        width={800}
        height={450}
        loading="eager"
        decoding="async"
      />
      <div
        class="absolute inset-0 bg-black/40 transition-opacity duration-300 opacity-0 group-hover:opacity-100 flex items-center justify-center"
      >
      </div>
    </div>
    <CardHeader className="flex bg-muted flex-col p-4">
      <CardTitle className="text-xl bg-muted text-balance font-semibold">{data.title}</CardTitle>
    </CardHeader>
    <CardContent className="grow bg-muted">
      <p class="text-muted-foreground line-clamp-3">{data.description}</p>
    </CardContent>
    <CardFooter
      className="flex flex-wrap bg-muted items-center text-sm text-muted-foreground gap-4"
    >
      <div class="flex items-center">
        <Icon name="tabler:tag" class="mr-1 h-4 w-4" />
      </div>
    </CardFooter>
  </Card>
</a>
