---
import { Image } from 'astro:assets';
import { CalendarIcon, Tag } from 'lucide-react';
import { blurhashToCssGradientString } from '@unpic/placeholder';

import { Card, CardContent, CardFooter, CardHeader, CardTitle } from '@portfolio/ui/card';
import { Button } from '@portfolio/ui/button';
import { getImage } from '~/lib/utils';
import type { CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon/components';

type Props = {
  post: CollectionEntry<'blog'>;
  blurhashes: Record<string, string>;
};

const { post, blurhashes } = Astro.props;
const { data, slug } = post;
const placeholder = blurhashToCssGradientString(blurhashes[data.heroImage]);
const pathname = `/blog/${slug}/`;
const image = await getImage(data.heroImage).then((res) => res.default);
---

<a href={pathname} class="block h-full transition-transform duration-300 hover:scale-105">
  <Card className="h-full flex flex-col bg-muted overflow-hidden group">
    <div class="relative h-48 overflow-hidden">
      <div class="absolute inset-0 w-full h-full" style={{ background: placeholder }}></div>
      <img src={image.src} alt={data.title} loading="lazy" />
      <Image
        class="absolute inset-0 w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
        src={image.src}
        alt={data.title}
        inferSize
        data-transition-name="fade"
      />
      <div
        class="absolute inset-0 bg-black bg-opacity-40 transition-opacity duration-300 opacity-0 group-hover:opacity-100 flex items-center justify-center"
      >
      </div>
    </div>
    <CardHeader className="flex bg-muted flex-col p-4">
      <CardTitle className="text-xl bg-muted text-balance font-semibold">{data.title}</CardTitle>
    </CardHeader>
    <CardContent className="flex-grow bg-muted">
      <p class="text-muted-foreground line-clamp-3">{data.description}</p>
    </CardContent>
    <CardFooter
      className="flex flex-wrap bg-muted items-center text-sm text-muted-foreground gap-4"
    >
      <div class="flex items-center">
        <Icon name="tabler:tag" class="mr-1 h-4 w-4" />
      </div>
      <div class="flex items-center">
        <Icon name="tabler:calendar" class="mr-1 h-4 w-4" />
      </div>
      <div class="flex items-center">
        <Icon name="tabler:clock" class="mr-1 h-4 w-4" />
      </div>
    </CardFooter>
  </Card>
</a>
