---
import ProjectCard from './ProjectCard.astro';

interface Props {
  projects: any[];
}

const { projects } = Astro.props;
---

<div class="border-t border-white/20">
  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[1px] bg-white/20 border-b border-white/20">
    {projects.map((project) => (
      <ProjectCard 
        name={project.name} 
        description={project.description} 
        url={project.html_url}
        language={project.language}
        stars={project.stargazers_count}
      />
    ))}
  </ul>
</div>